@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Smooch+Sans:wght@400;500;600;700&display=swap');
:root {
    --primary: #F15B28;
    --off-primary: #ffb59d;
    --secondary: #272360;
    /* --neutral: #ffe7df; */
    --neutral: beige;
    --off-black: #3d3d3d;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* color plate start **************/
.primary{
    color: var(--primary);
}
.border_primary{
    border: 2px solid var(--primary);
}
.offblack{
    color: var(--off-black);
}
.bg-primary{
    background-color: var(--primary);
}
.bg-neutral{
    background-color: var(--neutral);
}
.secondary{
    color: var(--secondary);
}

.bg-secondary{
    background-color: var(--secondary);
}
.neutral{
    color: var(--neutral);
}
.bg-neutral{
    background-color: var(--neutral);
}
/* color plate end ****************/

.smoch-font{
    font-family: 'Smooch Sans', sans-serif;
}

.container{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.button{
    background-color: var(--primary);
    color:white;
    padding: 5px 30px;
    border-radius: 50px;
    transition: 0.2s;
}
.button:hover{
    background-color: var(--secondary);
    color:white;
    border-radius: 50px;
}

li{
    transition: 0.1s;
}
li:hover{
    cursor: pointer;
    color: var(--primary);
}